@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root{
    --font: 'League Spartan', sans-serif;
    --cor1: #1c1c1c;
    --cor2: #2b2b2b;
    --cor3: #444;
    --cor4: #F24405;
    --cor5: #e65c00;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1C1C1C;
    font-family: var(--font);
    color:white
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background-color: #444;

}
.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}
.logo img{
    height: 150px;
    width: 150px;
}
.power-btn {
    background-color: var(--cor5);
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    
}
.power-btn:hover{
    background-color: var(--cor4);
   
}
/* Conteudo principal */
main {
    display: flex;
    justify-content: start;   /* centraliza na tela */
    align-items: center;
    padding: 40px;
    height: 50vh;  
 
  }
  .card {
    display: flex;
    align-items: center;
    gap: 25px;                 /* <<< distância entre o + e o texto */
    padding: 20px 30px;
    border-radius: 10px;
  }
  .add-btn {
    width: 255px;
    height: 255px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 134px;
    font-weight: bold;
    border-radius: 30px;  
    cursor: pointer;}

  
p { 
    font-size: 42px;
    color: #fff;
    font-weight: 500;
}
  
p span {
    color: #ff5c00; /* cor laranja */
    font-weight: bold;
}